.table {
    width: 301px;
    height: 301px;
    margin-left: 30%
}

.player-info {
    width: 90%;
    text-align: center
}

#message {
    width: 90%;
    text-align: center;
    color: green;
    height: 30px;
    margin-top: 10px;
    font-weight: bold
}

button{
    margin:5px;
}