/**
 * @author Vimal Maheedharan
 * @copyright Jango
 */

table.table{
    margin: 0 auto 0 auto;
}

 table td {
    padding: 0 0 0 0
}

.player-info {
    margin: 10px
}

#message {
    color: green;
    height: 30px;
    margin-top: 10px;
    font-weight: bold
}

button{
    margin:5px;
}

.wrapper {
    margin: 0 auto 0 auto;
    text-align: center;
    max-width: 1000px;
    padding-bottom: 50px;
	float: none
}

select{
    margin-left: 5px 
}