/**
 * @author Vimal Maheedharan
 * @copyright Jango
 */

table.table{
    margin: 0 auto 0 auto;
}

 table td {
    padding: 0 0 0 0
}

#message {
    position:fixed;
    top:10%;
    left:5%;
    font-size: 40px;
    animation: blinkingText 2s infinite
}

@keyframes blinkingText {
    0%{		color:gold;	}
    50%{	color:goldenrod;	}
    80%{	color: black;	}
}

button{
    margin:5px;
}

.wrapper {
    margin: 0 auto 0 auto;
    text-align: center;
    max-width: 1000px;
    padding-bottom: 50px;
	float: none
}

select{
    margin-left: 5px 
}