/**
 * @author Vimal Maheedharan
 * @copyright Jango
 */
.inner-table.table .cell {
    border: solid 1px grey;
    text-align: center;
    vertical-align: middle;
    /* margin: 0 0 0 0  */
}
.cell:hover {
    background-color: beige
}
.cell.after-draw {
    background-color: bisque;
    /* padding: 0 0 0 0;
    margin: 0 0 0 0 */
}
.winning-combo {
    background-color: darkolivegreen
}